<div class="container mt-3" >

    <nav class="navbar navbar-dark bg-dark px-3 py-3">
      <a class="navbar-brand">
        <h5>Registro de productos</h5>
      </a>
      <!--Primera fila-->
      <div class="row  w-100">
          <div class="col-sm-3"> 
            <input type="text" name="usuario" id="usuarioAdmin" placeholder="Usuario" class="form-control my-3" required="required">
          </div> 
          <div class="col-sm-3"> 
            <input type="text" name="usuario" id="usuarioAdmin" placeholder="Usuario" class="form-control my-3" required="required">
          </div>
          <div class="col-sm-3"> 
            <input type="text" name="usuario" id="usuarioAdmin" placeholder="Usuario" class="form-control my-3" required="required">
          </div>
          <div class="col-sm-3"> 
            <input type="text" name="usuario" id="usuarioAdmin" placeholder="Usuario" class="form-control my-3" required="required">
          </div>
      </div>
      
      {{!-- <!--Segunda fila-->
      <div class="row  w-100">
          <h1>hola</h1>
      </div>
      <!--Tercera fila-->
      <div class="row  w-100">
          <h1>hola</h1>
      </div>
      <!--Cuarta fila-->
      <div class="row  w-100">
          <h1>hola</h1>  
      </div>  --}}
      
      
      <center> <a href="" class="btn btn-sm mt-2 mx-5 btn btn-outline-success font-weight-bold">Registrar</a> </center>
        
    </nav>
<hr>
</div>
<div class="container mt-3" >
  <input type="text" name="usuario" id="usuarioAdmin" placeholder="Buscar" class="form-control mt-3 mx-auto " required="required">
  <a href="" class="btn btn-sm mt-2 mx-5 btn btn-outline-Dark font-weight-bold">Buscar</a>  
  <hr>
</div>
  
<div class="container mt-3" >

<table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
         <tbody id="tabla">

        </tbody>  
      
</table>
</div>